WEB_PORT=3000
WEB_URL=http://localhost:3000
NITRO_PORT=3001

#LOCAL_TUNNEL_URL=https://your-ngrok-tunnel-url.ngrok-free.app

REDIS_PASSWORD=replace_with_your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379

TYPESENSE_API_KEY=supersecretkey
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_HOST=localhost

DOCS_PORT=3002
DOCS_URL=http://localhost:3002

POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_your_password
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

DATABASE_URL=postgresql://postgres:replace_with_your_password@localhost:5432/postgres
DATABASE_RLS_URL=postgresql://kurrier:replace_with_your_password@localhost:5432/postgres

JWT_SECRET=TpLjgE4eqXMeZLEclNH5bLuME53eQ6Rsl67M98Je
APP_SECRET_ENCRYPTION_KEY=s2Ef+V5lnMMcbh7NlLuIdxqbIp+cx2Q8Kec2eBGwrZk=
SEARCH_REBUILD_ON_BOOT=false

DAV_URL=http://localhost:5232

DAV_DATABASE_URL=postgresql://baikal:strong_baikal_password@localhost:5433/baikal
WORKER_URL=http://localhost:3001
HOST=0.0.0.0


GARAGE_ACCESS_KEY=kurrierdev
GARAGE_SECRET_KEY=kurrierdevsupersecretkey
GARAGE_BUCKET=kurrier-store
GARAGE_RPC_SECRET=c067b927e0625a757baa4dd22172a5db4d8a0d4347944f6b5c9c7b3b2c406b91


S3_ENDPOINT=http://localhost:3900
S3_ACCESS_KEY=kurrierdev
S3_SECRET_KEY=kurrierdevsupersecretkey
S3_BUCKET=kurrier-store
S3_REGION=garage
S3_FORCE_PATH_STYLE=true

OIDC_GOOGLE_CLIENT_ID=
OIDC_GOOGLE_CLIENT_SECRET=
